 
* {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
}

html {
  font-size: 10px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}


/* Main */
.main {
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  min-height: 560px;
  border: 7px solid #bd2d2d;
  box-sizing: border-box;
  background: url(./asset/bgr2.png); 
  background-size: 85%;
  background-repeat: repeat;
  position: fixed;
}

.wrap {
  width: 90%;
  max-width: 1000px;
  min-width: 600px;
  height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 10px;
  transform: translate(-50%, -50%);
}

#logo {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 98%;
  width: 60%;
  max-width: 300px;
}

#logo img {
  width: 100%;
}
/* Main */

/* Skill */
.paperSkill {
  background-color: white;
  width: 85%;
  height: 350px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.4);
}

#skillBox {
  width: 90%;
  height: 85%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#skillBox h1 {
  font-size: 3rem;
  margin-top: 3%;
  margin-bottom: 3%;
  font-weight: bold;
}

#skillBox p {
  font-size: 1.6rem;
  text-align: justify;
  display: inline-block;
  margin-bottom: 20px;
}

#skillBox ul {
  width: 100%;
  display: block;
  -webkit-padding-start: 0px;
}

#skillBox ul li {
  list-style: none;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #444;
  display: inline;
  margin-right: 30px;
  text-decoration: underline;
  text-decoration-color: #bd2d2d;
  text-decoration-style: wavy;
}

#skillBox li:last-child {
  text-decoration: none;
}

.skillBottomLeft {
  display: inline-block;
  width: 70%;
  height: 30px;
}

.skillBottomLeft span {
  line-height: 5rem;
  font-size: 1.7rem;
  display: block;
}

.skillBottomLeft #snsLogo {
  width: 17px;
  position: relative;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
  top: 5px;
}

.skillBottomRight {
  width: 30%;
  height: 30px;
  display: inline-block;
  text-align: right;
}

.skillBottomRight .btnToWork {
  cursor: pointer;
  color: #495889;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

.skillBottomRight .btnToWork:hover {
  animation: work 0.3s steps(50) infinite;
}
/* Skill */

/* Work */
.paperWork {
  background-color: white;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 500px;
}

#workBox {
  position: absolute;
  width: 95%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.btnToSkill {
  display: block;
  font-size: 1.5rem;
  margin: 10px;
  color: #495889;
  width: 50px;
  cursor: pointer;
}

.btnToSkill:hover {
  text-decoration: underline;
  text-decoration-color: #bd2d2d;
  text-decoration-style: wavy;
}

.workSlide {
  width: 95%;
  height: 400px;
  margin: 0 auto;
}
/* Work */

/* WorkSlide */
.workPage {
  position: absolute;
  width: 100%;
  height: 400px;
  overflow: hidden;
} 

.workTxt {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #bd7979c9;
}

.workTxt:hover {
  opacity: 1;
}

#comingsoon > .workTxt {
  display: none;
}

.workTxt-wrap {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.workTxt-wrap h3 {
  font-size: 2rem;
  line-height: 2rem;
}

.workTxt-wrap p {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.workImg {
  z-index: 8;
  position: absolute;
  height: 120%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#prev, #next {
  background-color: transparent;
  border-style: none;
  position: relative;
  font-size: 20px;
  cursor: pointer;
  color: #6b8bff;
}

#prev {
  left: -20px;
} 

#next {
  right: -20px;
}
/* WorkSlide */

/* animation effect */
.fadeIn {
  animation: fadeIn 1s ease-in;
}

.fadeOut {
  animation: fadeOut 1s ease-out;
}

.scaleUp {
  animation: scaleUp 1s forwards;
}

.scaleDown {
  animation: scaleDown 1s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    filter: blur(10px);
  }
}

@keyframes scaleUp {
  100% {
    width: 100%;
    height: 500px;
  }
}

@keyframes scaleDown {
  100% {
    width: 85%;
    height: 350px;
  }
}

@keyframes work {
  0% {text-shadow: 3px 0 0 #FF1D58,-3px 0 0 #1273FF; filter:blur(0);}
  5% {text-shadow: 3px 0 0 #FF1D58,-3px 0 0 #1273FF; filter:blur(0);}
  11% {text-shadow: -3px 0 0 #FF1D58,3px 0 0 #1273FF; filter:blur(0.5);}
  15% {text-shadow: -3px 0 0 #FF1D58,3px 0 0 #1273FF; filter:blur(0);}
  21% {text-shadow: 3px 0 0 #FF1D58,-3px 0 0 #000; filter:blur(0);}
  25% {text-shadow: 3px 0 0 #FF1D58,-3px 0 0 #000; filter:blur(0);}
  31% {text-shadow: -3px 0 0 #FF1D58,3px 0 0 #000; filter:blur(0);}
  35% {text-shadow: -3px 0 0 #FF1D58,3px 0 0 #000; filter:blur(0);}
  41% {text-shadow: 4px 0 0 #FF1D58,-4px 0 0 #000; filter:blur(0);}
  45% {text-shadow: 4px 0 0 #FF1D58,-4px 0 0 #000; filter:blur(0);}
  51% {text-shadow: -10px 0 0 #FF1D58,10px 0 0 #000; filter:blur(0);}
  55% {text-shadow: -10px 0 0 #FF1D58,10px 0 0 #000; filter:blur(0);}
  61% {text-shadow: 10px 0 0 #FF1D58,-10px 0 0 #1273FF; filter:blur(0);}
  65% {text-shadow: 10px 0 0 #FF1D58,-10px 0 0 #1273FF; filter:blur(0);}
  71% {text-shadow: -3px 0 0 #FF1D58,3px 0 0 #1273FF; filter:blur(0.5);}
  75% {text-shadow: -3px 0 0 #FF1D58,3px 0 0 #1273FF; filter:blur(0);}
  81% {text-shadow: 3px 0 0 #FF1D58,-3px 0 0 #000; filter:blur(0);}
  85% {text-shadow: 3px 0 0 #FF1D58,-3px 0 0 #000; filter:blur(0);}
  91% {text-shadow: -3px 0 0 #FF1D58,3px 0 0 #000; filter:blur(0);}
  95% {text-shadow: -3px 0 0 #FF1D58,3px 0 0 #000; filter:blur(0);}
  100% {text-shadow: 4px 0 0 #FF1D58,-4px 0 0 #000; filter:blur(0);}
}
/* animation effect */

/* media query */
@media all and (max-height: 520px) {
  html {
    overflow: scroll;
    height: 100%;
  }
  .wrap {
    top: 0;
    transform: translate(-50%, 0)
  }
}

@media (min-width: 501px) and (max-width: 750px) {
  html {
    font-size: 9px;
  }
  .wrap {
    min-width: 480px;
  }
  .workImg {
    height: 100%;
    width: auto;
  }
}

/* media query mobile */
@media (max-width: 500px) {
  html {
    font-size: 8px;
  }
  .wrap {
    min-width: 320px;
    height: 500px;
  }
  #logo {
    width: 250px;
  }
  .switchbtn1 {
    animation: work 0.3s steps(50) infinite;
  }
  .paperWork {
    width: 90%;
    height: 480px;
  }
  .workSlide {
    margin-top: 0;
    height: 400px;
  }
  .workPage {
    height: 400px;
  }
  .workTxt {
    opacity: 1;
    height: 100px;
    transform: none;
    left: 0;
    top: 0;
    float: left;
    position: relative;
    background-color: transparent;
  }
  .workTxt-wrap {
    width: 100%;
    line-height: 5px;
    cursor: default;
    color: #3f518f;
  }
  .workImg {
    height: 300px;
    width: auto;
    top: 0;
    transform: translate(-50%, 0);
    float: left;
    position: relative;
  }
  #comingsoon > .workImg {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #prev, #next {
    left: 0;
    right: 0;
    color: #3f518f;
  }

  @keyframes scaleUp {
    100% {
      width: 90%;
      height: 480px;
    }
  }
  @keyframes scaleDown {
    100% {
      width: 85%;
      height: 350px;
    }
  }
}

